body {
    font-family: FreeMono, monospace;
    margin: 0px;
    padding: 0px;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1)),
        url("https://images.nightcafe.studio/jobs/t3NyGaFAWrX8d3zCXW1C/t3NyGaFAWrX8d3zCXW1C--1--9QJD7.jpg?tr=w-640,c-at_max");
}

div#page-title {
    position: relative;
    text-align: center;
    background-color: #ff0000;
    height: 75px;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    outline: 3px solid #000;
}

#page-title h1 {
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    position: relative;
    top: 25%;
}

div.navigation a {
    display: block;
    position: relative;
    float: left;
    width: 20%;
    height: 20px;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    background: #b3b3b3;
    outline: 3px solid #000; 
}

.content {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

#about-me {
    text-align: center;
}

#about-me img {
    outline: 3px solid #000;
}

#biography {
    margin-left: 150px;
    margin-right: 150px;
}

#experience table {
    text-align: center;
    padding: 5px;
    border: 3px solid #000;
    margin: auto;
}

#experience table th{
    color: #0000ee;
}

#experience table td{
    outline: 3px solid #000;
}

#projects .project {
    margin-left: 150px;
    margin-right: 150px;
}

#projects .project h3 {
    color: #b00;
}

#projects .project .project-info {
    border: 3px solid #000;
    padding: 10px;
}

#projects .project .project-info img {
    outline: 3px solid #000;
}

#projects .project .content-expand {
    margin-bottom: 5px;
}

#contact {
    background-color: #7fffd4;
    outline: 3px solid #000;
    text-align: center;
    padding: 15px;
    width: 20%;
    margin: auto;
    margin-top: 10px;
}